
@{
    ViewBag.Title = "ChiTietTinTuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/css/Vietravel.css" rel="stylesheet" />
<div class="n3-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <div class="breadcrumb">
                    <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="https://travel.com.vn/" itemprop="url"><span itemprop="title">Du lịch</span></a></span> &nbsp»&nbsp <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="https://travel.com.vn/tin-tuc-du-lich.aspx" itemprop="url"><span itemprop="title">Tin tức du lịch</span></a></span> &nbsp » &nbsp <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="https://travel.com.vn/tin-tuc-du-lich/ve-dep-thi-tran-daigo-o-phia-bac-tinh-ibaraki-v13082.aspx" itemprop="url"><span itemprop="title">Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki</span></a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container n3-news mg-bot40">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-12 l">
            <div class="frame-dt-top">
                <h1 class="news-detail-title">
                    Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki
                </h1>
                <div class="frame-date">
                    <div class="float-left"><i class="far fa-calendar-alt fa-lg"></i></div>
                    <div class="float-left date">05/11/2019</div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="frame-dt-bot">
                Thị trấn Daigo – nơi thiên nhiên phong phú với thác nước Fukuroda, suối nước nóng, hay những trái táo mọng căng.
            </div>
            <div class="mg-botss">
                <div class="socialBox">
                    <div class="tw">
                        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" style="position: static; visibility: visible; width: 61px; height: 20px;" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.2d991e3dfc9abb2549972ce8b64c5d85.vi.html#dnt=false&amp;id=twitter-widget-0&amp;lang=vi&amp;original_referer=https%3A%2F%2Ftravel.com.vn%2Ftin-tuc-du-lich%2Fve-dep-thi-tran-daigo-o-phia-bac-tinh-ibaraki-v13082.aspx&amp;size=m&amp;text=V%E1%BA%BB%20%C4%91%E1%BA%B9p%20th%E1%BB%8B%20tr%E1%BA%A5n%20Daigo%20%E1%BB%9F%20ph%C3%ADa%20b%E1%BA%AFc%20t%E1%BB%89nh%20Ibaraki%20%7C%20VIETRAVEL&amp;time=1573092917115&amp;type=share&amp;url=https%3A%2F%2Ftravel.com.vn%2Ftin-tuc-du-lich%2Fve-dep-thi-tran-daigo-o-phia-bac-tinh-ibaraki-v13082.aspx" data-url="https://travel.com.vn/tin-tuc-du-lich/ve-dep-thi-tran-daigo-o-phia-bac-tinh-ibaraki-v13082.aspx"></iframe>
                        <script type="text/javascript">!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                    </div><div class="fb"><div class="fb-like fb_iframe_widget" data-href="https://travel.com.vn/tin-tuc-du-lich/ve-dep-thi-tran-daigo-o-phia-bac-tinh-ibaraki-v13082.aspx" data-send="true" data-layout="button_count" data-width="150" data-show-faces="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=486170608123974&amp;container_width=120&amp;href=https%3A%2F%2Ftravel.com.vn%2Ftin-tuc-du-lich%2Fve-dep-thi-tran-daigo-o-phia-bac-tinh-ibaraki-v13082.aspx&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=150"><span style="vertical-align: bottom; width: 137px; height: 20px;"><iframe name="f201126a46e24bc" width="150px" height="1000px" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v3.3/plugins/like.php?app_id=486170608123974&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df158dfa854b1e18%26domain%3Dtravel.com.vn%26origin%3Dhttps%253A%252F%252Ftravel.com.vn%252Ff333d9b12258aa4%26relation%3Dparent.parent&amp;container_width=120&amp;href=https%3A%2F%2Ftravel.com.vn%2Ftin-tuc-du-lich%2Fve-dep-thi-tran-daigo-o-phia-bac-tinh-ibaraki-v13082.aspx&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=150" style="border: none; visibility: visible; width: 137px; height: 20px;" class=""></iframe></span></div></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="frame-dt-content">
            </div>
            <div class="frame-dt-content">
                <h2><strong>Thác nước Fukuroda</strong></h2>
                <img rel="full" src="https://media.vietravel.net/Images/NewsPicture/ibaraki-thang-11(1).jpg" title="Thác nước Fukuroda" alt="Thác nước Fukuroda">
                <div>
                    <div style="text-align: justify;">
                        “Thác nước Fukuroda” là một trong ba thác nước nổi tiếng của Nhật Bản, đây là thác nước vô cùng lớn với độ cao 120m, độ rộng 73m, dòng chảy của thác được chia làm 4 bậc, nước ào ào đổ vào bức tường đá khổng lồ, nên người ta còn gọi nó với một tên gọi khác “thác 4 tầng”. Ngoài ra, ở đây cũng truyền nhau rằng “nếu du khách không thử tới thác một lần vào từng mùa sẽ không thể thưởng thức được hương vị đặc trưng thực sự”.<br>
                        <br>
                        Khi bức tường băng tan chảy, tiếng róc rách vang lên khi nước chảy từ trên thác xuống, đó chính là khi mùa xuân đến. Du khách hãy tận hưởng bản hợp âm được dệt nên từ âm thanh trong trẻo của nước và màu xanh của cây xanh đang nẩy những chồi non mới.<br>
                        Mùa hạ, những giọt nước được tắm dưới ánh mặt trời lấp lánh như muốn nhảy múa với muôn vàn âm thanh lách tách. Tất cả như vẽ lên cầu vồng sống động, thu hút du khách.
                    </div>

                </div>
                <img rel="full" src="https://media.vietravel.net/Images/NewsPicture/ibaraki-thang-11(2).jpg" title="Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki" alt="Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki">
                <div>
                    <div style="text-align: justify;">Mùa thu, thác khoác lên mình bộ áo lá đỏ Momiji đầy màu sắc. Du khách nhất định hãy ghé thăm thác Fukuroda để ngắm chiếc áo sống động của thác. Thời gian ngắm thác năm nay dự tính đẹp nhất từ giữa tháng 11.</div>

                </div>
                <img rel="full" src="https://media.vietravel.net/Images/NewsPicture/ibaraki-thang-11(3).jpg" title="Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki" alt="Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki">
                <div>
                    <div style="text-align: justify;">
                        Mùa đông, du khách có muốn biết vẻ đẹp bí ẩn của thác khi đóng băng không? Một lần nữa du khách sẽ thấy ấn tượng bởi sự kỳ diệu khi thời tiết chuyển mùa. Từ tháng 11 đến tháng 1, ở đây tổ chức lễ hội chiếu sáng làm nổi bật 4 tầng thác đóng băng vô cùng đẹp.<br>
                        <br>
                        <strong>Thắp đèn light-up</strong><br>
                        Thời gian tổ chức: Từ ngày 1 tháng 11 năm 2019 (thứ 6) đến ngày 31 tháng 1 năm 2020 (thứ 6)<br>
                        Giờ chiếu sáng: Tháng 11 khi mặt trời lặn ~ 20:00, tháng 12 khi mặt trời lặn ~ 19:00<br>
                        &nbsp;<br>
                        Địa điểm: 3-19 Fukuroda, thị trấn Daigo, vùng Kuji, tỉnh Ibaraki<br>
                        Thời gian: 8:00 ~ 18:00 (Từ tháng 11 ~ 4 là 9:00~17:00)<br>
                        Cách đi: Đi bằng tàu hỏa/ xe bus Từ ga Fukuroda, tuyến JR Suigun, đi xe bus mất khoảng 10 phút<br>
                        Đi bằng ô tô: Mất khoảng 8 phút từ Naka IC đường cao tốc Joban<br>
                        &nbsp;
                    </div>

                </div>
                <h2><strong>Thác nước Tsukimachi</strong></h2>
                <img rel="full" src="https://media.vietravel.net/Images/NewsPicture/ibaraki-thang-11(4).jpg" title="Thác nước Tsukimachi" alt="Thác nước Tsukimachi">
                <div>
                    <div style="text-align: justify;">Người dân nơi đây hay gọi đây là thác nước cha bởi vì vào những ngày nước nhiều sẽ xuất hiện một nhánh thác nhỏ khác và được gọi là thác nước con, hai thác nước này trở thành thác cha con. Tuy nhiên trường hợp này rất hiếm gặp, nếu du khách đến đây được thưởng thức hiện tượng này thì quả thật là may mắn. Người dân từ xa xưa thường đến đây để cầu nguyện may mắn, mẹ tròn con vuông, nuôi dạy con tốt cho nên thác được gọi với cái tên thác nước Tsukimachi.</div>

                </div>
                <img rel="full" src="https://media.vietravel.net/Images/NewsPicture/ibaraki-thang-11(5).jpg" title="Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki" alt="Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki">
                <div>
                    <div style="text-align: justify;">
                        Đây là thác nước tự nhiên chảy theo 3 nhánh có độ cao khoảng 17m, độ rộng khoảng 12m. Phía sau thác rỗng, du khách có thể tham quan và ngắm toàn bộ dòng thác từ bên trong. Con đường dẫn tới thác được trồng rất nhiều cây lá phong Momiji, vẻ đẹp theo mùa của cây lá phong khiến cho cảnh quan thác nước thật đặc biệt. Ngoài ra, du khách cũng có đến đây vào mùa đông để ngắm thác nước đóng băng.<br>
                        <br>
                        Địa chỉ: 1369-1 Kawayama, thị trấn Daigo, vùng Kuji, tỉnh Ibaraki<br>
                        Cách đi: Đi bằng tàu hỏa/ xe bus Từ ga Fukuroda, tuyến JR Suigun, đi xe bus mất khoảng 20 phút<br>
                        &nbsp;
                    </div>

                </div>
                <h2><strong>Trải nghiệm hái táo vào mùa!!!</strong></h2>
                <img rel="full" src="https://media.vietravel.net/Images/NewsPicture/ibaraki-thang-11(6).jpg" title="Trải nghiệm hái táo vào mùa!!!" alt="Trải nghiệm hái táo vào mùa!!!">
                <div>
                    <div style="text-align: justify;">Ở thị trấn Daigo có rất nhiều nông trại trồng táo ở những triền dốc thoai thoải trên các ngọn núi. Thời gian thu hoạch là vào mùa thu, khách tham quan có thể có những trải nghiệm thú vị khi tự tay mình hái những trái táo căng mọng và ăn ngay tại vườn. Táo ở thị trấn Daigo có đặc trưng nổi bật là được trồng chín cây tức là táo để tự chín ở trên cây. Táo chín cây có độ ngọt mọng nước hơn là táo thu hoạch trước khi chín cây. Ngoài ra du khách cũng có thể thưởng thức được vị ngon của táo chế biến như nước ép táo hay mứt táo ngay tại đây.</div>

                </div>
                <img rel="full" src="https://media.vietravel.net/Images/NewsPicture/ibaraki-thang-11(7).jpg" title="Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki" alt="Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki">
                <div>
                    Địa chỉ: thị trấn Daigo, vùng Kuji, tỉnh Ibaraki<br>
                    Thời gian: Từ giữa tháng 9 tới cuối tháng 11 hàng năm.<br>
                    Phí: &nbsp;(Phí vào vườn) Người lớn 400 yên, trẻ em 300 yên. Hái táo mang về: 500 yên trở lên.<br>
                    &nbsp;
                </div>
                <h2><strong>Suối nước nóng</strong></h2>
                <img rel="full" src="https://media.vietravel.net/Images/NewsPicture/ibaraki-thang-11(8).jpg" title="Suối nước nóng" alt="Suối nước nóng">
                <div>
                    <div style="text-align: justify;">
                        Ở Daigo có rất nhiều suối nước nóng như Fukuroda Onsen, Daiko Onsen, hay Yuzawa Onsen, các cơ sở tắm suối nước nóng cũng rất đa dạng. Trong đó suối nước nóng Daiko Onsen được gọi là “suối nước nóng làm đẹp”, thu hút sự quan tâm của rất nhiều du khách nữ tới.<br>
                        Từ mùa thu với mùa đông, những quả táo đặc sản vùng Okukuji được thả trôi trong bồn đem lại mùi hương rất ngọt ngào, độc đáo cho du khách.&nbsp;<br>
                        &nbsp;
                    </div>

                </div>
                <h2><strong>Món ăn dành cho người sành ăn: Gà Okukuji - Hương vị số một Nhật Bản</strong></h2>
                <img rel="full" src="https://media.vietravel.net/Images/NewsPicture/ibaraki-thang-11(9).jpg" title="Món ăn dành cho người sành ăn: Gà Okukuji - Hương vị số một Nhật Bản" alt="Món ăn dành cho người sành ăn: Gà Okukuji - Hương vị số một Nhật Bản">
                <div>
                    Gà Okukuni được Hiệp Hội Kiểm Định Chất Lượng Gà địa phương đánh giá là gà ngon số một Nhật Bản, hương vị thơm ngon làm thỏa mãn cả những người sành ăn. Thịt gà chắc, ít béo, nhai giòn, giàu hương vị và chất dinh dưỡng là những gì mà gà Okukuni đem lại cho du khách.
                </div>
                <img rel="full" src="https://media.vietravel.net/Images/NewsPicture/ibaraki-thang-11(10).jpg" title="Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki" alt="Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki">
                <div>
                    <div style="text-align: justify;">Ngay cả các đầu bếp kỹ tính đều sử dụng gà Okukuni phổ biến ở các nhà hàng hay quán ăn của họ. Hương vị của thịt gà đậm đà, được đánh giá ngon tới mức mà các đầu bếp ở Tokyo cũng chỉ định mua. Gà được nuôi với thời gian đủ để gà phát triển, cho nên thịt gà đầy đủ hương vị cũng như chất dinh dưỡng.</div>

                </div>
                <img rel="full" src="https://media.vietravel.net/Images/NewsPicture/ibaraki-thang-11(11).jpg" title="Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki" alt="Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki">
                <div>
                    <div style="text-align: justify;">Món ăn có sử dụng gà Okukuni này chắc chắn rất ngon!! Gà Okukuni được chế biến ra rất nhiều món như gà nướng, cơm gà trứng có sử dụng thịt gà và trứng gà, lẩu gà Shamo… Nếu tới Daiko, du khách hãy thưởng thức món gà này nhé.</div>

                </div>
            </div>
            <div class="frame-dt-content">
            </div>

            <div class="tinlienquan">
                <div class="i-title-sub">TIN KHÁC</div>
                <ul class="row list-tinkhac pl-0">
                    <li class="col-md-6 col-sm-6 col-12 dot-dot cut-name" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/ve-dep-thi-tran-daigo-o-phia-bac-tinh-ibaraki-v13082.aspx" title="Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki">Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki</a></li>
                    <li class="col-md-6 col-sm-6 col-12 dot-dot cut-name" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/giai-ma-suc-hut-fukushima-v13081.aspx" title="'Giải mã' sức hút mang tên Fukushima">'Giải mã' sức hút mang tên Fukushima</a></li>
                    <li class="col-md-6 col-sm-6 col-12 dot-dot cut-name ddd-truncated" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/le-cong-bo-va-trao-quyet-dinh-bo-nhiem-pho-tong-giam-doc-vietravel-airlines-v13080.aspx" title="Lễ công bố và trao quyết định bổ nhiệm Phó Tổng Giám đốc Vietravel Airlines">Lễ công bố và trao quyết định bổ nhiệm Phó Tổng Giám đốc… </a></li>
                    <li class="col-md-6 col-sm-6 col-12 dot-dot cut-name" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/nhung-vung-dat-trong-mo-cua-hoa-sy-nhi-v13083.aspx" title="'Những vùng đất trong mơ' của họa sỹ nhí">'Những vùng đất trong mơ' của họa sỹ nhí</a></li>
                    <li class="col-md-6 col-sm-6 col-12 dot-dot cut-name ddd-truncated" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/cuoi-tuan-chiem-nguong-cac-man-trinh-dien-anh-sang-nghe-thuat-3d-mapping-v13077.aspx" title="Cuối tuần, chiêm ngưỡng các màn trình diễn ánh sáng nghệ thuật 3D Mapping">Cuối tuần, chiêm ngưỡng các màn trình diễn ánh sáng nghệ… </a></li>
                    <li class="col-md-6 col-sm-6 col-12 dot-dot cut-name ddd-truncated" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/vietravel-fair-mien-bac-mien-phi-ve-khu-vui-choi-trong-nuoc-voi-bo-tour-dong-gia-v13079.aspx" title="Vietravel’s Fair Miền Bắc 1-3/11/2019: 'Miễn phí' vé khu vui chơi trong nước với bộ tour đồng giá">Vietravel’s Fair Miền Bắc 1-3/11/2019: 'Miễn phí' vé khu vui… </a></li>
                    <li class="col-md-6 col-sm-6 col-12 dot-dot cut-name" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/ve-dep-thuy-si-vao-mua-dong-v13073.aspx" title="Vẻ đẹp Thụy Sĩ vào mùa đông">Vẻ đẹp Thụy Sĩ vào mùa đông</a></li>
                    <li class="col-md-6 col-sm-6 col-12 dot-dot cut-name" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/tam-diem-du-lich-tet-tour-3-6-ngay-len-ngoi-v13072.aspx" title="Tâm điểm du lịch Tết: Tour 3 - 6 ngày 'lên ngôi'">Tâm điểm du lịch Tết: Tour 3 - 6 ngày 'lên ngôi'</a></li>
                    <li class="col-md-6 col-sm-6 col-12 dot-dot cut-name" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/nhon-nhip-mua-big-sales-cuoi-nam-tai-my-v13071.aspx" title="Nhộn nhịp mùa 'big sales' cuối năm tại Mỹ">Nhộn nhịp mùa 'big sales' cuối năm tại Mỹ</a></li>
                    <li class="col-md-6 col-sm-6 col-12 dot-dot cut-name" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/binh-yen-mien-hanh-phuc-bhutan-v13069.aspx" title="Bình yên 'miền hạnh phúc' Bhutan">Bình yên 'miền hạnh phúc' Bhutan</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-3 hidden-md hidden-sm hidden-xs r">
            <div class="frame-news-r">
                <div class="news-mini">
                    <div class="title"><a href="#">Tin mới</a></div>
                    <div id="divNewsLastest">
                        <ul class="list-tinkhac pl-0">
                            <li class="dot-dot cut-name" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/giai-ma-suc-hut-fukushima-v13081.aspx" title="'Giải mã' sức hút mang tên Fukushima">'Giải mã' sức hút mang tên F ...</a></li>
                            <li class="dot-dot cut-name" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/le-cong-bo-va-trao-quyet-dinh-bo-nhiem-pho-tong-giam-doc-vietravel-airlines-v13080.aspx" title="Lễ công bố và trao quyết định bổ nhiệm Phó Tổng Giám đốc Vietravel Airlines">Lễ công bố và trao quyết địn ...</a></li>
                            <li class="dot-dot cut-name" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/nhung-vung-dat-trong-mo-cua-hoa-sy-nhi-v13083.aspx" title="'Những vùng đất trong mơ' của họa sỹ nhí">'Những vùng đất trong mơ' củ ...</a></li>
                            <li class="dot-dot cut-name" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/cuoi-tuan-chiem-nguong-cac-man-trinh-dien-anh-sang-nghe-thuat-3d-mapping-v13077.aspx" title="Cuối tuần, chiêm ngưỡng các màn trình diễn ánh sáng nghệ thuật 3D Mapping">Cuối tuần, chiêm ngưỡng các  ...</a></li>
                            <li class="dot-dot cut-name" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/vietravel-fair-mien-bac-mien-phi-ve-khu-vui-choi-trong-nuoc-voi-bo-tour-dong-gia-v13079.aspx" title="Vietravel’s Fair Miền Bắc 1-3/11/2019: 'Miễn phí' vé khu vui chơi trong nước với bộ tour đồng giá">Vietravel’s Fair Miền Bắc 1- ...</a></li>
                        </ul>
                    </div>
                </div>
                <div class="news-mini">
                    <div class="title"><a href="#">Tin ngẫu nhiên</a></div>
                    <div id="divNewsRandom">
                        <ul class="list-tinkhac pl-0">
                            <li class="dot-dot cut-name" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/den-nhat-ban-ngam-hoa-anh-dao-giua-troi-thu-v13020.aspx" title="Đến Nhật Bản, ngắm hoa anh đào giữa trời thu">Đến Nhật Bản, ngắm hoa anh đ ...</a></li>
                            <li class="dot-dot cut-name" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/di-tron-o-nhung-oc-dao-than-tien-v13037.aspx" title="Đi “trốn” ở những ốc đảo thần tiên">Đi “trốn” ở những ốc đảo thầ ...</a></li>
                            <li class="dot-dot cut-name" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/den-chiang-rai-tham-chua-trang-chua-xanh-doc-dao-v13013.aspx" title="Đến Chiang Rai thăm Chùa Trắng Chùa Xanh độc đáo">Đến Chiang Rai thăm Chùa Trắ ...</a></li>
                            <li class="dot-dot cut-name" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/net-thu-ha-thanh-v13006.aspx" title="Nét thu Hà thành">Nét thu Hà thành</a></li>
                            <li class="dot-dot cut-name" style="overflow-wrap: break-word;"><a href="/tin-tuc-du-lich/my-thien-duong-mua-sam-danh-cho-cac-tin-do-shopping-v13024.aspx" title="Mỹ, thiên đường mua sắm dành cho các tín đồ shopping">Mỹ, thiên đường mua sắm dành ...</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //var sGa = jQuery.noConflict();
    //$("[rel='gallery']").fancybox({
    //    helpers: {
    //        thumbs: true
    //    }
    //});

    NewsLastest();
    NewsRandom();

    //Tin mới
    function NewsLastest() {
        $.ajax({
            url: '/News/_NewsLastest',
            data: { NewsId: '13082' },
            success: function (data) {
                $('#divNewsLastest').html(data);
            }
        });
    }

    //Tin ngẫu nhiên
    function NewsRandom() {
        $.ajax({
            url: '/News/_NewsRandom',
            data: { NewsId: '13082' },
            success: function (data) {
                $('#divNewsRandom').html(data);
            }
        });
    }
</script>

