
@{
    ViewBag.Title = "DatVe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container mt-4 mb-2">
        <div class="row">
            <div class="col-12 text-center">
                <span class="title">Booking đang được Vietravel xác nhận</span><br/>
                <span class="title">Quý khách vui lòng thanh toán xác thực đặt vé</span>
                <p>Cảm ơn quý khách đã đặt tour. Chúng tôi sẽ liên hệ với quý khách trong thời gian sớm nhất</p>
            </div>
        </div>
    </div>

