
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Partials/HomePartial.cshtml")
<link href="~/Assets/css/Vietravel.css" rel="stylesheet" />
<div class="n3-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <div class="breadcrumb">
                    <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="https://travel.com.vn/" itemprop="url"><span itemprop="title">Du lịch</span></a></span> &nbsp»&nbsp <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="https://travel.com.vn/tin-tuc-du-lich.aspx" itemprop="url"><span itemprop="title">Tin tức du lịch</span></a></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container n3-news mb-5">
    <div class="socialBox">
        <div class="tw">
            <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" style="position: static; visibility: visible; width: 61px; height: 20px;" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.2d991e3dfc9abb2549972ce8b64c5d85.vi.html#dnt=false&amp;id=twitter-widget-0&amp;lang=vi&amp;original_referer=https%3A%2F%2Ftravel.com.vn%2Ftin-tuc-du-lich.aspx&amp;size=m&amp;text=Tin%20t%E1%BB%A9c%20du%20l%E1%BB%8Bch&amp;time=1573088895357&amp;type=share&amp;url=https%3A%2F%2Ftravel.com.vn%2Ftin-tuc-du-lich.aspx" data-url="https://travel.com.vn/tin-tuc-du-lich.aspx"></iframe>
            <script type="text/javascript">!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
        </div><div class="fb"><div class="fb-like fb_iframe_widget" data-href="https://travel.com.vn/tin-tuc-du-lich.aspx" data-send="true" data-layout="button_count" data-width="150" data-show-faces="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=486170608123974&amp;container_width=120&amp;href=https%3A%2F%2Ftravel.com.vn%2Ftin-tuc-du-lich.aspx&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=150"><span style="vertical-align: bottom; width: 144px; height: 20px;"><iframe name="f2054bd6098a1c" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v3.3/plugins/like.php?app_id=486170608123974&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df179931efaea414%26domain%3Dtravel.com.vn%26origin%3Dhttps%253A%252F%252Ftravel.com.vn%252Ff355c59fec494a4%26relation%3Dparent.parent&amp;container_width=120&amp;href=https%3A%2F%2Ftravel.com.vn%2Ftin-tuc-du-lich.aspx&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=150" style="border: none; visibility: visible; width: 144px; height: 20px;" class=""></iframe></span></div></div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="title"><h1>TIN TỨC DU LỊCH</h1></div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-12 l">
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-4 col-12 mg-bot">
                    <a href="/tin-tuc-du-lich/ve-dep-thi-tran-daigo-o-phia-bac-tinh-ibaraki-v13082.aspx" title="Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki"><img src="https://media.vietravel.net/images/news/0-ibaraki-thang-11.jpg" class="img-responsive pic-news-l" alt="Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki"></a>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-12">
                    <div class="frame-news">
                        <div class="frame-top">
                            <h2 class="news-title-l">
                                <a href="/tin-tuc-du-lich/ve-dep-thi-tran-daigo-o-phia-bac-tinh-ibaraki-v13082.aspx" title="Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki" class="dot-dot cut-name" style="overflow-wrap: break-word;">Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki</a>
                            </h2>
                            <div class="frame-date">
                                <div class="float-left"><i class="far fa-calendar-alt fa-lg"></i></div>
                                <div class="float-left date">05/11/2019</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="frame-bot">
                            <div class="des-content dot-dot cut-content" style="overflow-wrap: break-word;">
                                Thị trấn Daigo – nơi thiên nhiên phong phú với thác nước Fukuroda, suối nước nóng, hay những trái táo mọng căng.
                            </div>
                            <div class="text-right">
                                <a href="/tin-tuc-du-lich/ve-dep-thi-tran-daigo-o-phia-bac-tinh-ibaraki-v13082.aspx" class="view_more" title="Vẻ đẹp thị trấn Daigo ở phía bắc tỉnh Ibaraki">Xem thêm &nbsp;<i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-4 col-12 mg-bot">
                    <a href="/tin-tuc-du-lich/giai-ma-suc-hut-fukushima-v13081.aspx" title="'Giải mã' sức hút mang tên Fukushima"><img src="https://media.vietravel.net/images/news/0-suc-hut-fukushima-1.jpg" class="img-responsive pic-news-l" alt="'Giải mã' sức hút mang tên Fukushima"></a>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-12">
                    <div class="frame-news">
                        <div class="frame-top">
                            <h2 class="news-title-l">
                                <a href="/tin-tuc-du-lich/giai-ma-suc-hut-fukushima-v13081.aspx" title="'Giải mã' sức hút mang tên Fukushima" class="dot-dot cut-name" style="overflow-wrap: break-word;">'Giải mã' sức hút mang tên Fukushima</a>
                            </h2>
                            <div class="frame-date">
                                <div class="float-left"><i class="far fa-calendar-alt fa-lg"></i></div>
                                <div class="float-left date">04/11/2019</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="frame-bot">
                            <div class="des-content dot-dot cut-content" style="overflow-wrap: break-word;">
                                Lần đầu tiên mở bán vào năm 2016, đến nay hành trình khám phá cung đường kim cương Nhật Bản với chuyến bay thẳng đến Fukushima bằng hình thức thuê bao nguyên chuyến (charter) tại Vietravel vẫn giữ tốc độ tăng trưởng lên đến 30% mỗi năm.
                            </div>
                            <div class="text-right">
                                <a href="/tin-tuc-du-lich/giai-ma-suc-hut-fukushima-v13081.aspx" class="view_more" title="'Giải mã' sức hút mang tên Fukushima">Xem thêm &nbsp;<i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-4 col-12 mg-bot">
                    <a href="/tin-tuc-du-lich/le-cong-bo-va-trao-quyet-dinh-bo-nhiem-pho-tong-giam-doc-vietravel-airlines-v13080.aspx" title="Lễ công bố và trao quyết định bổ nhiệm Phó Tổng Giám đốc Vietravel Airlines"><img src="https://media.vietravel.net/images/news/bo-nhiem-ptgd-vietravel-airlines(1).jpg" class="img-responsive pic-news-l" alt="Lễ công bố và trao quyết định bổ nhiệm Phó Tổng Giám đốc Vietravel Airlines"></a>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-12">
                    <div class="frame-news">
                        <div class="frame-top">
                            <h2 class="news-title-l">
                                <a href="/tin-tuc-du-lich/le-cong-bo-va-trao-quyet-dinh-bo-nhiem-pho-tong-giam-doc-vietravel-airlines-v13080.aspx" title="Lễ công bố và trao quyết định bổ nhiệm Phó Tổng Giám đốc Vietravel Airlines" class="dot-dot cut-name" style="overflow-wrap: break-word;">Lễ công bố và trao quyết định bổ nhiệm Phó Tổng Giám đốc Vietravel Airlines</a>
                            </h2>
                            <div class="frame-date">
                                <div class="float-left"><i class="far fa-calendar-alt fa-lg"></i></div>
                                <div class="float-left date">04/11/2019</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="frame-bot">
                            <div class="des-content dot-dot cut-content" style="overflow-wrap: break-word;">
                                Ngày 04/11/2019, tại Văn phòng TP.HCM, Công ty TNHH Hàng không Lữ hành Việt Nam - Vietravel Airlines đã trang trọng tổ chức Lễ công bố và trao quyết định bổ nhiệm Phó Tổng Giám đốc đối với ông Livio Arizzi (quốc tịch Ý).
                            </div>
                            <div class="text-right">
                                <a href="/tin-tuc-du-lich/le-cong-bo-va-trao-quyet-dinh-bo-nhiem-pho-tong-giam-doc-vietravel-airlines-v13080.aspx" class="view_more" title="Lễ công bố và trao quyết định bổ nhiệm Phó Tổng Giám đốc Vietravel Airlines">Xem thêm &nbsp;<i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-4 col-12 mg-bot">
                    <a href="/tin-tuc-du-lich/nhung-vung-dat-trong-mo-cua-hoa-sy-nhi-v13083.aspx" title="'Những vùng đất trong mơ' của họa sỹ nhí"><img src="https://media.vietravel.net/images/news/0-cuoc-thi-ve-tranh.jpg" class="img-responsive pic-news-l" alt="'Những vùng đất trong mơ' của họa sỹ nhí"></a>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-12">
                    <div class="frame-news">
                        <div class="frame-top">
                            <h2 class="news-title-l">
                                <a href="/tin-tuc-du-lich/nhung-vung-dat-trong-mo-cua-hoa-sy-nhi-v13083.aspx" title="'Những vùng đất trong mơ' của họa sỹ nhí" class="dot-dot cut-name" style="overflow-wrap: break-word;">'Những vùng đất trong mơ' của họa sỹ nhí</a>
                            </h2>
                            <div class="frame-date">
                                <div class="float-left"><i class="far fa-calendar-alt fa-lg"></i></div>
                                <div class="float-left date">02/11/2019</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="frame-bot">
                            <div class="des-content dot-dot cut-content" style="overflow-wrap: break-word;">
                                Sáng ngày 2/11, tại Vườn hoa Lý Thái Tổ, Hà Nội, gần 200 trẻ em từ  6 -11 tuổi đã tham gia cuộc thi vẽ tranh “Những vùng đất trong mơ”. Đây là lần thứ 3 Công ty Du lịch Vietravel tổ chức cuộc thi trong khuôn khổ sự kiện Vietravel’s Fair - Ngày hội tri ân khách hàng thường niên tại khu vực miền Bắc. Rất nhiều tác phẩm của các họa sỹ “nhí” đã gây ấn tượng mạnh cho ban tổ chức và du khách tham quan. Sân chơi bổ ích dành cho các họa sỹ “nhí”.
                            </div>
                            <div class="text-right">
                                <a href="/tin-tuc-du-lich/nhung-vung-dat-trong-mo-cua-hoa-sy-nhi-v13083.aspx" class="view_more" title="'Những vùng đất trong mơ' của họa sỹ nhí">Xem thêm &nbsp;<i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-4 col-12 mg-bot">
                    <a href="/tin-tuc-du-lich/cuoi-tuan-chiem-nguong-cac-man-trinh-dien-anh-sang-nghe-thuat-3d-mapping-v13077.aspx" title="Cuối tuần, chiêm ngưỡng các màn trình diễn ánh sáng nghệ thuật 3D Mapping"><img src="https://media.vietravel.net/images/news/Vietravel-fair-0.jpg" class="img-responsive pic-news-l" alt="Cuối tuần, chiêm ngưỡng các màn trình diễn ánh sáng nghệ thuật 3D Mapping"></a>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-12">
                    <div class="frame-news">
                        <div class="frame-top">
                            <h2 class="news-title-l">
                                <a href="/tin-tuc-du-lich/cuoi-tuan-chiem-nguong-cac-man-trinh-dien-anh-sang-nghe-thuat-3d-mapping-v13077.aspx" title="Cuối tuần, chiêm ngưỡng các màn trình diễn ánh sáng nghệ thuật 3D Mapping" class="dot-dot cut-name" style="overflow-wrap: break-word;">Cuối tuần, chiêm ngưỡng các màn trình diễn ánh sáng nghệ thuật 3D Mapping</a>
                            </h2>
                            <div class="frame-date">
                                <div class="float-left"><i class="far fa-calendar-alt fa-lg"></i></div>
                                <div class="float-left date">31/10/2019</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="frame-bot">
                            <div class="des-content dot-dot cut-content" style="overflow-wrap: break-word;">
                                Trình diễn nghệ thuật ánh sáng hay còn gọi là 3D mapping chỉ mới xuất hiện tại Việt Nam gần đây. Ánh sáng với các hiệu ứng 3D được chiếu lên bề mặt các toà nhà có diện tích lớn, hoặc các mặt phẳng/vật thể được dựng lên có chủ đích, tạo thành các khối hình ảnh tương tác trong không gian ba chiều.
                            </div>
                            <div class="text-right">
                                <a href="/tin-tuc-du-lich/cuoi-tuan-chiem-nguong-cac-man-trinh-dien-anh-sang-nghe-thuat-3d-mapping-v13077.aspx" class="view_more" title="Cuối tuần, chiêm ngưỡng các màn trình diễn ánh sáng nghệ thuật 3D Mapping">Xem thêm &nbsp;<i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-4 col-12 mg-bot">
                    <a href="/tin-tuc-du-lich/vietravel-fair-mien-bac-mien-phi-ve-khu-vui-choi-trong-nuoc-voi-bo-tour-dong-gia-v13079.aspx" title="Vietravel’s Fair Miền Bắc 1-3/11/2019: 'Miễn phí' vé khu vui chơi trong nước với bộ tour đồng giá"><img src="https://media.vietravel.net/images/news/0-vietravel-fair-hn.jpg" class="img-responsive pic-news-l" alt="Vietravel’s Fair Miền Bắc 1-3/11/2019: 'Miễn phí' vé khu vui chơi trong nước với bộ tour đồng giá"></a>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-12">
                    <div class="frame-news">
                        <div class="frame-top">
                            <h2 class="news-title-l">
                                <a href="/tin-tuc-du-lich/vietravel-fair-mien-bac-mien-phi-ve-khu-vui-choi-trong-nuoc-voi-bo-tour-dong-gia-v13079.aspx" title="Vietravel’s Fair Miền Bắc 1-3/11/2019: 'Miễn phí' vé khu vui chơi trong nước với bộ tour đồng giá" class="dot-dot cut-name ddd-truncated" style="overflow-wrap: break-word;">Vietravel’s Fair Miền Bắc 1-3/11/2019: 'Miễn phí' vé khu vui chơi trong nước với bộ tour đồng… </a>
                            </h2>
                            <div class="frame-date">
                                <div class="float-left"><i class="far fa-calendar-alt fa-lg"></i></div>
                                <div class="float-left date">31/10/2019</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="frame-bot">
                            <div class="des-content dot-dot cut-content" style="overflow-wrap: break-word;">
                                Khách hàng đăng ký tour du lịch tại các văn phòng Vietravel miền Bắc từ ngày 1 - 3/11 sẽ được hưởng giá ưu đãi giảm tới 35%, nhận miễn phí vé khu vui chơi trong nước (*) khi đăng ký 2 suất tour đồng giá từ 1,99 triệu và quà tặng có giá trị từ các đối tác thương hiệu lớn của Vietravel…
                            </div>
                            <div class="text-right">
                                <a href="/tin-tuc-du-lich/vietravel-fair-mien-bac-mien-phi-ve-khu-vui-choi-trong-nuoc-voi-bo-tour-dong-gia-v13079.aspx" class="view_more" title="Vietravel’s Fair Miền Bắc 1-3/11/2019: 'Miễn phí' vé khu vui chơi trong nước với bộ tour đồng giá">Xem thêm &nbsp;<i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-4 col-12 mg-bot">
                    <a href="/tin-tuc-du-lich/ve-dep-thuy-si-vao-mua-dong-v13073.aspx" title="Vẻ đẹp Thụy Sĩ vào mùa đông"><img src="https://media.vietravel.net/images/news/thuy-si-mua-dong(0).jpg" class="img-responsive pic-news-l" alt="Vẻ đẹp Thụy Sĩ vào mùa đông"></a>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-12">
                    <div class="frame-news">
                        <div class="frame-top">
                            <h2 class="news-title-l">
                                <a href="/tin-tuc-du-lich/ve-dep-thuy-si-vao-mua-dong-v13073.aspx" title="Vẻ đẹp Thụy Sĩ vào mùa đông" class="dot-dot cut-name" style="overflow-wrap: break-word;">Vẻ đẹp Thụy Sĩ vào mùa đông</a>
                            </h2>
                            <div class="frame-date">
                                <div class="float-left"><i class="far fa-calendar-alt fa-lg"></i></div>
                                <div class="float-left date">24/10/2019</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="frame-bot">
                            <div class="des-content dot-dot cut-content" style="overflow-wrap: break-word;">
                                Thụy Sĩ luôn nằm trong top những quốc gia đáng sống nhất thế giới. Không những thế, nơi đây còn mê hoặc lòng người bằng cảnh quan thiên nhiên đẹp như tranh vẽ, vô số công trình kiến trúc nhuốm màu cổ kính.
                            </div>
                            <div class="text-right">
                                <a href="/tin-tuc-du-lich/ve-dep-thuy-si-vao-mua-dong-v13073.aspx" class="view_more" title="Vẻ đẹp Thụy Sĩ vào mùa đông">Xem thêm &nbsp;<i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-4 col-12 mg-bot">
                    <a href="/tin-tuc-du-lich/tam-diem-du-lich-tet-tour-3-6-ngay-len-ngoi-v13072.aspx" title="Tâm điểm du lịch Tết: Tour 3 - 6 ngày 'lên ngôi'"><img src="https://media.vietravel.net/images/news/du-xuan_0.jpg" class="img-responsive pic-news-l" alt="Tâm điểm du lịch Tết: Tour 3 - 6 ngày 'lên ngôi'"></a>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-12">
                    <div class="frame-news">
                        <div class="frame-top">
                            <h2 class="news-title-l">
                                <a href="/tin-tuc-du-lich/tam-diem-du-lich-tet-tour-3-6-ngay-len-ngoi-v13072.aspx" title="Tâm điểm du lịch Tết: Tour 3 - 6 ngày 'lên ngôi'" class="dot-dot cut-name" style="overflow-wrap: break-word;">Tâm điểm du lịch Tết: Tour 3 - 6 ngày 'lên ngôi'</a>
                            </h2>
                            <div class="frame-date">
                                <div class="float-left"><i class="far fa-calendar-alt fa-lg"></i></div>
                                <div class="float-left date">23/10/2019</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="frame-bot">
                            <div class="des-content dot-dot cut-content" style="overflow-wrap: break-word;">
                                Với 3 ngày nghỉ lễ Tết Dương lịch và 7 ngày nghỉ Tết Âm lịch, thị trường du lịch Tết xác lập “tâm điểm” đăng ký tour có lịch trình từ 3 đến 6 ngày.
                            </div>
                            <div class="text-right">
                                <a href="/tin-tuc-du-lich/tam-diem-du-lich-tet-tour-3-6-ngay-len-ngoi-v13072.aspx" class="view_more" title="Tâm điểm du lịch Tết: Tour 3 - 6 ngày 'lên ngôi'">Xem thêm &nbsp;<i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-4 col-12 mg-bot">
                    <a href="/tin-tuc-du-lich/nhon-nhip-mua-big-sales-cuoi-nam-tai-my-v13071.aspx" title="Nhộn nhịp mùa 'big sales' cuối năm tại Mỹ"><img src="https://media.vietravel.net/images/news/shopping-my_0.jpg" class="img-responsive pic-news-l" alt="Nhộn nhịp mùa 'big sales' cuối năm tại Mỹ"></a>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-12">
                    <div class="frame-news">
                        <div class="frame-top">
                            <h2 class="news-title-l">
                                <a href="/tin-tuc-du-lich/nhon-nhip-mua-big-sales-cuoi-nam-tai-my-v13071.aspx" title="Nhộn nhịp mùa 'big sales' cuối năm tại Mỹ" class="dot-dot cut-name" style="overflow-wrap: break-word;">Nhộn nhịp mùa 'big sales' cuối năm tại Mỹ</a>
                            </h2>
                            <div class="frame-date">
                                <div class="float-left"><i class="far fa-calendar-alt fa-lg"></i></div>
                                <div class="float-left date">23/10/2019</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="frame-bot">
                            <div class="des-content dot-dot cut-content" style="overflow-wrap: break-word;">
                                Nếu bạn là dân “nghiện” shopping, tốt nhất nên mua tour vào những dịp lễ lớn của nước Mỹ với hàng loạt chương trình “big sales” hấp dẫn. Cuối năm, nước Mỹ tung ra nhiều chương trình khuyến mại lên đến 70%, bắt đầu từ ngày lễ Tạ Ơn và kéo dài đến tận Tết Dương lịch. Đây là thời điểm lý tưởng để bạn “mua sắm mệt nghỉ”, kết hợp thăm thân và thưởng ngoạn cảnh đẹp từ bờ Đông sang bờ Tây.
                            </div>
                            <div class="text-right">
                                <a href="/tin-tuc-du-lich/nhon-nhip-mua-big-sales-cuoi-nam-tai-my-v13071.aspx" class="view_more" title="Nhộn nhịp mùa 'big sales' cuối năm tại Mỹ">Xem thêm &nbsp;<i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-4 col-12 mg-bot">
                    <a href="/tin-tuc-du-lich/binh-yen-mien-hanh-phuc-bhutan-v13069.aspx" title="Bình yên 'miền hạnh phúc' Bhutan"><img src="https://media.vietravel.net/images/news/charter-bhutan-2019_0.jpg" class="img-responsive pic-news-l" alt="Bình yên 'miền hạnh phúc' Bhutan"></a>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-12">
                    <div class="frame-news">
                        <div class="frame-top">
                            <h2 class="news-title-l">
                                <a href="/tin-tuc-du-lich/binh-yen-mien-hanh-phuc-bhutan-v13069.aspx" title="Bình yên 'miền hạnh phúc' Bhutan" class="dot-dot cut-name" style="overflow-wrap: break-word;">Bình yên 'miền hạnh phúc' Bhutan</a>
                            </h2>
                            <div class="frame-date">
                                <div class="float-left"><i class="far fa-calendar-alt fa-lg"></i></div>
                                <div class="float-left date">22/10/2019</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="frame-bot">
                            <div class="des-content dot-dot cut-content" style="overflow-wrap: break-word;">
                                Bhutan đẹp và yên bình tựa câu chuyện cổ tích sẽ khiến bất kỳ ai cũng khao khát được đặt chân đến.
                            </div>
                            <div class="text-right">
                                <a href="/tin-tuc-du-lich/binh-yen-mien-hanh-phuc-bhutan-v13069.aspx" class="view_more" title="Bình yên 'miền hạnh phúc' Bhutan">Xem thêm &nbsp;<i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 text-right mb-4">

                <div class="pager_simple_orange">
                    <table>
                        <tbody>
                            <tr>
                                <td class=""><a href="/tin-tuc-du-lich-p1.aspx"> « </a></td>
                                <td class="active"><a href="/tin-tuc-du-lich-p1.aspx">1</a></td>
                                <td><a href="/tin-tuc-du-lich-p2.aspx">2</a></td>
                                <td><a href="/tin-tuc-du-lich-p3.aspx">3</a></td>
                                <td><a href="/tin-tuc-du-lich-p4.aspx">4</a></td>
                                <td><a href="/tin-tuc-du-lich-p5.aspx">5</a></td>
                                <td><a href="/tin-tuc-du-lich-p6.aspx">6</a></td>
                                <td class=""><a href="/tin-tuc-du-lich-p140.aspx"> » </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>

